backup_n8n/backups/n8n-backup-20250521-203439.json
[
  {
    "createdAt": "2025-05-21T23:31:27.330Z",
    "updatedAt": "2025-05-21T23:37:22.000Z",
    "id": "XL9zaiMTAOgKoRUI",
    "name": "Test: My first AI Agent in n8n",
    "active": true,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "options": {}
        },
        "id": "b24b05a7-d802-4413-bfb1-23e1e76f6203",
        "name": "When chat message received",
        "type": "@n8n/n8n-nodes-langchain.chatTrigger",
        "typeVersion": 1.1,
        "position": [
          360,
          20
        ],
        "webhookId": "a889d2ae-2159-402f-b326-5f61e90f602e"
      },
      {
        "parameters": {
          "content": "## Start by saying 'hi'\n![Button](https://i.imgur.com/PrIBJI6.png)",
          "height": 149,
          "width": 150
        },
        "id": "5592c045-6718-4c4e-9961-ce67a251b6df",
        "name": "Sticky Note",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          180,
          -40
        ]
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "d5e60eb2-267c-4f68-aefe-439031bcaceb",
        "name": "OpenAI Model",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1,
        "position": [
          500,
          240
        ],
        "credentials": {
          "openAiApi": {
            "id": "THFktZYvu56bICkS",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.chatInput }}",
          "options": {
            "systemMessage": "=Responda as perguntas."
          }
        },
        "id": "41174c8a-6ac8-42bd-900e-ca15196600c5",
        "name": "Agent",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.7,
        "position": [
          580,
          20
        ]
      },
      {
        "parameters": {},
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "typeVersion": 1.3,
        "position": [
          680,
          240
        ],
        "id": "b100c94a-074c-4794-a479-04de8f483271",
        "name": "Simple Memory"
      }
    ],
    "connections": {
      "When chat message received": {
        "main": [
          [
            {
              "node": "Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Model": {
        "ai_languageModel": [
          [
            {
              "node": "Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Simple Memory": {
        "ai_memory": [
          [
            {
              "node": "Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1"
    },
    "staticData": null,
    "meta": null,
    "pinData": null,
    "versionId": "4631fa35-10bb-40bc-aa7d-4fb199f564c4",
    "triggerCount": 1,
    "tags": []
  }
]